* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'AbrilFatFace';
    src: url('../fonts/AbrilFatface-Regular.ttf');
}

@font-face {
    font-family: 'Alef';
    src: url('../fonts/Alef-Regular.ttf');
}

@font-face {
    font-family: 'AlfaSlabOne';
    src: url('../fonts/AlfaSlabOne-Regular.ttf');
}

@font-face {
    font-family: 'Bangers';
    src: url('../fonts/Bangers-Regular.ttf');
}

@font-face {
    font-family: 'KumarOneOutline';
    src: url('../fonts/KumarOneOutline-Regular.ttf');
}

@font-face {
    font-family: 'Monoton';
    src: url('../fonts/Monoton-Regular.ttf');
}

@font-face {
    font-family: 'Righteous';
    src: url('../fonts/Righteous-Regular.ttf');
}
@font-face {
    font-family: 'SecularOne';
    src: url('../fonts/SecularOne-Regular.ttf');
}
@font-face {
    font-family: 'SplecialElite';
    src: url('../fonts/SpecialElite-Regular.ttf');
}
@font-face {
    font-family: 'ZCOOLKuaile';
    src: url('../fonts/ZCOOLKuaiLe-Regular.ttf');
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1,h6 {
    text-align: center;
    font-family: 'impact'
}

h6 {
    font-weight: 100;
}

input {
    max-height: 2rem;
}

button {
    font-family: inherit;
    background-color: transparent;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    border: 0;
    cursor: pointer;
}

button:active, button:focus {
    outline: none;
}

a, a:visited, a:active {
    text-decoration: none;
    color: black;
}

li {
    margin: 10px;
}

.header, .footer {
    background-color: lightblue;
    max-height: 100px;
    margin: 10px 0;
}

.main {
    padding-top: 10px;
    text-align: center;
}

.gallery {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery-images-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
    grid-gap: 10px;
}

.image-container {
    cursor: pointer;
    border: 1px solid black;
}

.image-container > img {
    max-width: 100px;
    cursor: pointer;
}

.list-filter {
    margin: 10px;
    width: 50%;
    background-color: aquamarine;
    border-radius: 5px;
}

.block-filter {
    margin: 10px;
    width: 100%;
    background-color: aquamarine;
    border-radius: 5px;
}

.filter-item {    
    margin: 5px;
    padding: 10px;
}

.tags-container {
    margin: 10px;
    border: 1px solid black;
}

.keyword {
    margin: 10px;
    background-color: transparent;
    border: 1px dotted lightcoral;
}

.editor {
    height: 100vh;
    width: 100vw;
    margin-top: 10px;
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.control-box-container {
    width: 100%;
    height: 50%;
    margin: 10px;
}

.control-box {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill,minmax(100px,1fr));
    grid-template-rows: repeat(auto-fill, minmax(1rem, 1fr));
    grid-gap: 20px;
}

.secondary-control {
    display: flex;
    flex-direction: column;
}

.AbrilFatFace {
    font-family: 'AbrilFatFace';
}

.Alef {
    font-family: 'Alef';
}

.AlfaSlabOne {
    font-family: 'AlfaSlabOne';
}

.Bangers {
    font-family: 'Bangers';
}

.KumarOneOutline {
    font-family: 'KumarOneOutline';
}

.Monoton {
    font-family: 'Monoton';
}

.Righteous {
    font-family: 'Righteous';
}

.SecularOne {
    font-family: 'SecularOne';
}

.SplecialElite {
    font-family: 'SplecialElite';
}

.ZCOOLKuaile {
    font-family: 'ZCOOLKuaile';
}

.dropdown-content {
    background-color: white;
    width: 200px;
    display: flex;
    flex-direction: column;
    transition: ease;
}

.meme {
    border: 3px solid black;
}

.actions {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn {    
    padding: 10px;
    background-color: lightskyblue;
    border-radius: 10px;
    max-width: 150px;
}

.btn:hover {
    background-color: lightseagreen;
}

.hide {
    display: none;
}