* {
    box-sizing: border-box;
}

/* fonts */

@font-face {
    font-family: 'Titillium';
    src: url('../fonts/TitilliumWeb-Light.ttf');
}

@font-face {
    font-family: 'AbrilFatFace';
    src: url('../fonts/AbrilFatface-Regular.ttf');
}

@font-face {
    font-family: 'Alef';
    src: url('../fonts/Alef-Regular.ttf');
}

@font-face {
    font-family: 'AlfaSlabOne';
    src: url('../fonts/AlfaSlabOne-Regular.ttf');
}

@font-face {
    font-family: 'Bangers';
    src: url('../fonts/Bangers-Regular.ttf');
}

@font-face {
    font-family: 'KumarOneOutline';
    src: url('../fonts/KumarOneOutline-Regular.ttf');
}

@font-face {
    font-family: 'Monoton';
    src: url('../fonts/Monoton-Regular.ttf');
}

@font-face {
    font-family: 'Righteous';
    src: url('../fonts/Righteous-Regular.ttf');
}
@font-face {
    font-family: 'SecularOne';
    src: url('../fonts/SecularOne-Regular.ttf');
}
@font-face {
    font-family: 'SplecialElite';
    src: url('../fonts/SpecialElite-Regular.ttf');
}
@font-face {
    font-family: 'ZCOOLKuaile';
    src: url('../fonts/ZCOOLKuaiLe-Regular.ttf');
}

/* base */

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Titillium';
}

h1 {
    text-align: center;
    font-family: 'impact';
}

h3 {
    margin: 0;
}

h6 {
    text-align: center;
    font-weight: 100;
}

input {
    margin: 5px;
    max-height: 2rem;
}

button {
    font-family: inherit;
    background-color: transparent;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    border: 0;
    cursor: pointer;
}

button:active, button:focus {
    outline: none;
}

a, a:visited, a:active {
    text-decoration: none;
    color: black;
}

li {
    margin: 10px;
}

.btn {    
    padding: 10px;
    background-color: lightskyblue;
    border-radius: 10px;
    max-width: 150px;
}

.btn:hover {
    background-color: lightseagreen;
}

/* layout */

.header, .footer {
    background-color: lightblue;
    max-height: 100px;
    margin: 10px 0;
}

.main {
    padding-top: 10px;
    text-align: center;
}

/* main */

/* .gallery */

.gallery {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery-images-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
    grid-gap: 10px;
}

.image-container {
    cursor: pointer;
    border: 1px solid black;
}

.image-container > img {
    max-width: 100px;
    cursor: pointer;
}

/* gallery panels */

.list-filter {
    margin: 10px;
    width: 50%;
    background-color: #e91e634d;
    border-radius: 5px;
}

.block-filter {
    margin: 10px;
    width: 100%;
    background-color: #e91e634d;
    border-radius: 5px;
}

.filter-item {    
    margin: 5px;
}

.tags-container {
    margin: 10px;
    border: 1px solid black;
}

.keyword {
    margin: 10px;
    background-color: transparent;
    border: 1px dotted lightcoral;
}

/* editor */

.editor {
    height: 100vh;
    width: 100vw;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.meme {
    border: 3px solid black;
}

/* control box */

.control-box-container {
    width: 100%;
    max-height: 50%;
    margin: 10px;
}

.control-box {
    display: grid;
    justify-content: center;
    /* grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    grid-template-rows: repeat(auto-fill, minmax(1rem, 1fr)); */
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 100px 100px 100px 100px;
    grid-template-areas: 
    "text text text text"
    "style color border family"
    "alignment vertical size family"
    ". delete delete .";
    grid-gap: 20px;
}

.control-box-item-container {
    border: 1px solid #E91E63;
    border-radius: 15px;
}

.control-box-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    grid-area: text;
}

.font-style {
    grid-area: style;
}

.font-color {
    grid-area: color;
}

.font-border-color {
    grid-area: border;
}

.font-size {
    grid-area: size;
}

.font-family {
    grid-area: family;
}

.alignment {
    grid-area: alignment;
}

.vertical-alignment {
    grid-area: vertical;
}

.delete {
    grid-area: delete;
}

.font-style > .control-box-item, .vertical-alignment > .control-box-item, .alignment > .control-box-item {
    flex-direction: row;
    justify-content: center;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    overflow:scroll;
    position: absolute;
    top: 2rem;
    background-color: white;
    height: 180px;
    display: flex;
    flex-direction: column;
    transition: ease;
    border-radius: 5px;
    z-index: 1;
}

.dropdown-content > a:hover {
    color: #E91E63;
}

.AbrilFatFace {
    font-family: 'AbrilFatFace';
}

.Alef {
    font-family: 'Alef';
}

.AlfaSlabOne {
    font-family: 'AlfaSlabOne';
}

.Bangers {
    font-family: 'Bangers';
}

.KumarOneOutline {
    font-family: 'KumarOneOutline';
}

.Monoton {
    font-family: 'Monoton';
}

.Righteous {
    font-family: 'Righteous';
}

.SecularOne {
    font-family: 'SecularOne';
}

.SplecialElite {
    font-family: 'SplecialElite';
}

.ZCOOLKuaile {
    font-family: 'ZCOOLKuaile';
}

/* actions */

.actions {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hide {
    display: none;
}